{{ template "header.html" . }}

<h1>Waygate Client Dashboard</h1>

{{if .Tunnels}}
<h2>Tunnels</h2>

<table>
  <thead>
    <tr>
      <td>Type</td>
      <td>Server Address</td>
      <td>Client Address</td>
      <td>Protected</td>
      <td>TLS Passthrough</td>
      <td>Actions</td>
    </tr>
  </thead>
  {{range $tunnel := .Tunnels}}
  <tr>
    <td>
      {{$tunnel.Type}}
    </td>
    <td>
      <a href='https://{{$tunnel.ServerAddress}}' target='_blank'>{{$tunnel.ServerAddress}}</a>
    </td>
    <td>
      {{$tunnel.ClientAddress}}
    </td>
    <td>
      {{$tunnel.Protected}}
    </td>
    <td>
      {{$tunnel.TLSPassthrough}}
    </td>
    <td>
      <form action='/delete-tunnel' method='POST'>
        <input type='hidden' name='type' value='{{$tunnel.Type}}' />
        <input type='hidden' name='address' value='{{$tunnel.ServerAddress}}' />
        <button>Delete</button>
      </form>
    </td>
  </tr>
  {{end}}
</table>
{{end}}


<h3>Create HTTPS Tunnel</h3>

<form action='/add-tunnel' method='POST'>
  <input type='hidden' name='type' value='HTTPS' />
  <div class='list'>
    <div>
      <label>Server Address:</label>
      <input type='text' name='host' placeholder='host' />
      .
      <select name='domain'>
        {{range .Domains}}
        <option>{{.}}</option>
        {{end}}
      </select>
    </div>
    <div>
      <label for='client-address-text'>Client Address:</label>
      <input id='client-address-text' type='text' name='client_address' />
    </div>
    <div>
      <label for='protected-checkbox'>Protected:</label>
      <input id='protected-checkbox' type='checkbox' name='protected' />
    </div>
    <div>
      <label for='tls-passthrough-checkbox'>TLS Passthrough:</label>
      <input id='tls-passthrough-checkbox' type='checkbox' name='tls_passthrough' />
    </div>
    <div>
      <button>Submit</button>
    </div>
  </div>
</form>

<h3>Create Tunnel</h3>

<form action='/add-tunnel' method='POST'>
  <div class='list'>
    <div>
      <label for='tunnel-type-dropdown'>Tunnel Type:</label>
      <select id='tunnel-type-dropdown' name='type'>
        <option>TLS</option>
        <option>TCP</option>
        <option>UDP</option>
      </select>
    </div>
    <div>
      <label for='server-address-text'>Server Address:</label>
      <input id='server-address-text' type='text' name='server_address' />
    </div>
    <div>
      <label for='client-address-text'>Client Address:</label>
      <input id='client-address-text' type='text' name='client_address' />
    </div>
    <div>
      <label for='tls-passthrough-checkbox'>TLS Passthrough (TLS only):</label>
      <input id='tls-passthrough-checkbox' type='checkbox' name='tls_passthrough' />
    </div>
    <div>
      <button>Submit</button>
    </div>
  </div>
</form>


<h2>Domains</h2>

<a href='/add-domain-takingnames'>Add domain with TakingNames</a>

<div class='domain-list'>
  {{range .Domains}}
  <div class='row'>
    <span>{{.}}</span>
    <!--
    <form action='/delete-domain' method='POST'>
      <input type='hidden' name='domain' value='{{.}}' />
      <button>Delete</button>
    </form>
    -->
  </div>
  {{end}}
</div>

<!--
<h3>Add Domain</h3>

<form action='/add-domain' method='POST'>
  <input type='text' name='domain' />

  <div>
    <button>Submit</button>
  </div>
</form>
-->


{{ template "footer.html" . }}
