{{ template "header.html" . }}

<h1>Waygate Server Dashboard</h1>

<div class='row'>
  <form action='/restart' method='POST'>
    <button type='submit'>Restart Server</button>
  </form>

  <form action='/auth/logout' method='POST'>
    <button type='submit'>Logout</button>
  </form>

  <!--
  <form action='/shutdown' method='POST'>
    <button type='submit'>Shutdown Server</button>
  </form>
  -->
</div>

{{if .Clients}}
<h2>Clients</h2>

<div class='table-container'>
  <table>
    <thead>
      <tr>
        <td>Client</td>
        <td>Domain</td>
        <td>TLS Termination</td>
        <td>Use Proxy Protocol</td>
      </tr>
    </thead>
    {{range $tunnel := .Clients}}
    <tr>
      <td>
        {{$tunnel.ClientName}}
      </td>
      <td>
        <a href='https://{{$tunnel.Domain}}' target='_blank'>{{$tunnel.Domain}}</a>
      </td>
      <td>
        {{$tunnel.TerminationType}}
      </td>
      <td>
        {{$tunnel.UseProxyProtocol}}
      </td>
    </tr>
    {{end}}
  </table>
</div>
{{end}}

{{if .Tunnels}}
<h2>Tunnels</h2>

<div class='table-container'>
  <table>
    <thead>
      <tr>
        <td>Server Address</td>
        <td>Client</td>
        <td>Client Domain</td>
      </tr>
    </thead>
    {{range $tunnel := .Tunnels}}
    <tr>
      <td>
        <a href='https://{{$tunnel.Address}}' target='_blank'>{{$tunnel.Address}}</a>
      </td>
      <td>
        {{$tunnel.ClientName}}
      </td>
      <td>
        <a href='https://{{$tunnel.Client}}' target='_blank'>{{$tunnel.Client}}</a>
      </td>
    </tr>
    {{end}}
  </table>
</div>
{{end}}

<h2>Domains</h2>


<div class='list'>
  <form action='/namedrop/configure-domain' method='POST'>
    <button type='submit'>Add Domain with TakingNames.io</button>
  </form>

  {{ template "domains_table.html" . }}

</div>

{{ template "footer.html" . }}
