{{ template "header.html" . }}

<h1>Verify Device</h1>

<form action='{{.Prefix}}/approve-device' method='POST'>

  <p>
    A device is requesting a session for creating tunnels.
  </p>

  {{if .UserCode}}
  <p>
    Confirm that the code below is displayed on your device:
  </p>
  {{else}}
  <p>
    Enter the code from the device:
  </p>
  {{end}}

  <div>
    <label for='code-input'>Code:</label>
    <input id='code-input' type='text' name='user_code' value='{{.UserCode}}'/>
  </div>

  <button type='submit'>Approve</button>

</form>

{{ template "footer.html" . }}
